@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-primary: #DA2535;
    --cor-secundary: #616161;
    --cor-tertiary: #292929;
    --cor-quartetary: #F3F3F3;
    --cor-quintetary: #FBFBFB;

    --font-primary: 'Inter', sans-serif;
    --font-secundary: 'Montserrat', sans-serif;

    --temp-animation: 0.25s ease;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::selection {
    background-color: var(--cor-tertiary);
}

/* Scroll no Chrome, Opera, Edge */

body::-webkit-scrollbar {
    width: 12.5px;
}

body::-webkit-scrollbar-track {
    background: var(--cor-quartetary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor-primary);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb:active {
    background-color: var(--cor-secundary);
}

/* Scroll no Firefox */

body {
    scrollbar-width: thin;
    scrollbar-color: var(--cor-primary) var(--cor-secundary);
}