.margin-start {
    margin: 25px 0px 50px 0px;
}

.margin-ramem-card {
    margin: 0px 15px 25px 0px;
}

.margin_x-15px {
    margin: 15px 0px;
}

.margin_r-15px {
    margin-right: 15px;
}

.margin_b-15px {
    margin-bottom: 15px;
}

.margin_b-20px {
    margin-bottom: 20px;
}

.margin_x-25px {
    margin: 25px 0px;
}

.margin_y-25px {
    margin: 0px 25px;
}

.margin_b-25px {
    margin-bottom: 25px;
}

.margin_r-25px {
    margin-right: 25px;
}

.margin_x-40px {
    margin: 40px 0px;
}

.margin_b-50px {
    margin-bottom: 50px;
}

.margin_y-75px {
    margin: 0px 75px;
}

.margin_x-75px {
    margin: 75px 0px;
}