.nav {
    background-color: white;
    height: 70px;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
}

.container-nav {
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 25px;
    cursor: pointer;
}

.logo:hover {
    filter: brightness(1.5);
}

.menu {
    width: 70%;
}

.menu-link {
    width: 300px;
    list-style: none;
}

.menu, .menu-link {
    display: flex;
    justify-content: space-between;
}

.menu-links {
    color: var(--cor-tertiary);
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s ease;
}

.menu-links:hover {
    font-weight: bold;
    color: var(--cor-primary);
}

.menu-control {
    display: none;
}

.menu-icon {
    display: none;
}

.menu-control:checked + .menu {
    transform: translateX(0);
}

@media (max-width: 650px) {
    .menu {
        background-color: var(--cor-quintetary);
        box-shadow: -3px 0px 11px 13px rgba(0, 0, 0, 0.4);

        top: 0;
        right: 0;

        height: 100%;
        width: 300px;

        position: fixed;
        z-index: 1;

        transform: translateX(110%);
        transition: transform 0.5s ease;
    }

    .menu-link {
        height: 70%;
    }

    .menu-link, .menu {
        flex-direction: column;
        flex-wrap: initial;

        justify-content: space-around;
        align-items: center;
    }

    .menu-icon {
        display: inline-block;
        z-index: 1;
        cursor: pointer;
    }

    .menu-icon:hover {
        filter: invert(33%) sepia(2%) saturate(68%) hue-rotate(314deg) brightness(83%) contrast(93%);
    }
}