@import url(config_global.css);
@import url(nav.css);

body {
    font-family: var(font-primary);
}

.start {
    padding-top: 70px;
    height: 500px;
}

.container {
    display: flex;
    max-width: 900px;
    width: 90%;
    height: 100%;
    margin: auto;
}

.container-start {
    align-items: center;
    justify-content: space-between;
}

/* Cards */

.card {
    background-color: var(--cor-quartetary);
    border-radius: 32px
}

.card-ramem {
    width: 285px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Texto */

.container-text {
    width: 325px;
}

.text-centralized {
    text-align: center;
}

.title {
    color: var(--cor-tertiary);
    font-family: var(--font-secundary);
    font-weight: 600;
    font-size: 35px;
}

.subtitle {
    font-size: 24px;
    font-weight: 500;
}

.paragraph {
    font-size: 18px;
    color: var(--cor-tertiary);
}

.paragraph-ramem {
    font-size: 15px;
    width: 175px;
}

/* Imagens */

.img {
    height: 100%;
}

.img-sushi {
    height: 400px;
}

.img-resept {
    height: 350px;
}

.img-ramem {
    position: static;
    height: 200px;
    top: 10;
}

/* Botoẽs */

.button {
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;

    max-width: 130px;
    max-height: 36px;
    cursor: pointer;

    border-radius: 10px;
    padding: 10px 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-primary {
    background-color: var(--cor-primary);
    color: var(--cor-quintetary);
    border: none;
}

.button-login {
    border: 2px solid var(--cor-tertiary);
    padding: 7px 40px;
}

/* Margin */

.margin_x-25px {
    margin: 25px 0px;
}

.margin_x-50px {
    margin: 75px 0px;
}

.margin_y-25px {
    margin: 0px 25px;
}

.margin_l-25px {
    margin-left: 25px;
}

.margin_b-25px {
    margin-bottom: 25px;
}

/* Links */

.link {
    color: var(--cor-primary);
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 1px; 
    border-bottom: 1px solid var(--cor-primary);
}