@import url(config_global.css);
@import url(margins.css);
@import url(footer.css);
@import url(nav.css);

body {
    font-family: var(--font-primary);
}

.start {
    padding-top: 70px;
    height: 500px;
}

.ramem {
    position: relative;
    padding-top: 80px;
    transition: 0.25s ease-in;
}

.ramem:hover {
    transform: scale(1.075);
}

.flex {
    display: flex;
}

.container {
    display: flex;
    max-width: 900px;
    width: 90%;
    height: 100%;
    margin: auto;
}

.container-start {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.container-centralizado {
    width: 100%;
    justify-content: center;
}

/* Cards */

.card {
    background-color: var(--cor-quartetary);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}

.card-ramem {
    width: 285px;
    height: 325px;
    justify-content: flex-end;
}

.card-ramem-text {
    align-items: center;
}

.card-profile {
    height: 225px;
    width: 375px;

    padding: 25px;
    border-radius: 16px;

    align-items: flex-start;
    transition: 0.25s ease;
}

.card-profile:hover {
    transform: scale(1.05);
}

.section-stars {
    cursor: alias;
}

/* Texto */

.section-text {
    width: 375px;
}

.text-centralized {
    text-align: center;
}

.title {
    color: var(--cor-tertiary);
    font-family: var(--font-secundary);
    font-weight: 600;
    font-size: 35px;
}

.subtitle {
    color: var(--cor-tertiary);
    font-family: var(--font-secundary);
    font-weight: 500;
    font-size: 24px;
}

.paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--cor-tertiary);
}

.paragraph-ramem {
    color: var(--cor-secundary);
    font-size: 14px;
    width: 200px;
}

.paragraph-cost {
    font-family: var(--font-secundary);
    font-size: 22px;
    font-weight: 500;
}

.paragraph-comment {
    font-size: 16px;
    font-family: var(--font-secundary);
    width: 300px;
}

/* Imagens */

.img {
    height: 100%;
    /* width: 100%; */
    /* min-width: auto; */
}

.img-sushi {
    min-height: 200px;
    max-height: 400px;
}

.img-resept {
    min-height: 200px;
    max-height: 350px;
    border-radius: 16px;
}

.img-ramem {
    height: 200px;
    z-index: 0;
    margin-left: 15%;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: 0% 0%;
}

.img-ramem:hover {
    transition: 1.75s ease;
    transform: rotate(45deg);
}

.img-profile {
    height: 75px;
}

.img-profile:hover {
    filter: grayscale(0.6);
}

.img-star {
    width: 15px;
}

.img-star:hover {
    transform: scale(1.2);
    filter: brightness(1.1);
}

.img-location {
    background: var(--cor-quintetary);
    height: 22px;
    padding: 15px 0px 15px 15px;

    border: 1px solid var(--cor-tertiary);
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
    transition: 0.25s ease;
}

.img-map {
    border-radius: 16px;
}

.img-map:hover {
    transform: scale(1.025);
}

/* Botoẽs */

.button {
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;

    max-width: 130px;
    max-height: 36px;
    cursor: pointer;

    border-radius: 10px;
    padding: 10px 90px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease;
}

.button-primary {
    background-color: var(--cor-primary);
    color: var(--cor-quintetary);
    border: none;
}

.button-primary:hover {
    background-color: var(--cor-secundary);
}

.button-address {
    max-height: 90px;
    padding: 10px 40px;
    border-radius: 0 10px 10px 0;
}

.button-login {
    border: 2px solid var(--cor-tertiary);
    padding: 7px 40px;
}

.button-login:hover {
    transform: scale(1.2);
}

/* Links */

.link {
    color: var(--cor-primary);
    font-size: 18px;
    transition: 0.25s ease;
}

.link:hover {
    color: var(--cor-secundary);
    font-weight: bold;
}

/* Entrada */

.input {
    background: var(--cor-quintetary);
    width: 330px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid var(--cor-tertiary);
    border-left: 0px;
}

.input::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--cor-tertiary);
}

.input:focus {
    box-shadow: 0 0 0 0;
    border-left: 0 none;
    outline: 0;
}

/* Responsividade */

@media (max-width: 780px) {
    .img-sushi {
        display: none;
    }

    .start {
        height: 300px;
    }
}